html, body {
    margin: 0;
    padding: 0;
    font-family: Lato, Tahoma, Arial, sans-serif;
}
*  {
    box-sizing: border-box;
}

a {
    color: #0092e3;
}

.navbar-default {
    background-image: url("images/pattern.jpg");
    background-size: 1%;
    background-color: #098fdc;
    border-radius: 0;
    border: none;
    margin-bottom: 0;
}
.navbar-default .navbar-nav > li > a {
    color: #fff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
    background-color: #0872af;
    color: #fff;
}
.navbar-brand {
    padding: 5px 15px;
}
.navbar-brand img {
    max-height: 100%;
}
.navbar-search {
    position: relative;
}
.navbar-search .form-group {
    position: relative
}
.navbar-search input {
    border-radius: 20px;
    background-color: #cce9f9;
}
.navbar-search input::placeholder {
    color: #0092e3;
}
.navbar-search .fa-search {
    position: absolute;
    right: 25px;
    top: 10px;
    color: #0092e3;
}

header {
    background-image: url("images/header.jpg");
    background-repeat: no-repeat;
    min-height: 650px;
    position: relative;
}

.schedule {
    z-index: 10;
    position: absolute;
    bottom: -90px;
    left: 20%;
    right: 20%;
    background-color: #fff;
    box-shadow: 0px 10px 25px -5px rgba(87, 87, 87, 1);
}
.schedule-header {
    text-align: center;
    padding: 20px 0;
    position: relative;
    background-color: #fff;
}
.schedule-header h2 {
    margin: 0;
}
.schedule-info {
    box-shadow: 0px -15px 17px -11px rgba(99, 99, 99, 0.2);
    padding-right: 40px;
    position: relative;
}
.schedule-info .col-md-3 {
    margin: 35px 0;
    padding: 25px 35px;
    border-right: 1px solid #e1e1e1;
    text-align: center;
    font-weight: bold;
}
.schedule-info .col-md-3:first-child {
    padding-left: 50px;
}
.schedule-info .col-md-3:last-child {
    padding-right: 50px;
    border: none;
}
.schedule-footer {
    margin-right: 40px;
    text-align: center;
}
.schedule-footer .btn {
    display: inline-block;
    padding: 15px 120px;
    margin-bottom: 30px;
}
.schedule-share {
    position: absolute;
    z-index: 5;
    right: 0;
    top: 73px;
    bottom: 0;
    width: 40px;
    text-align: center;
    box-shadow: inset 6px 0px 23px -8px rgba(99, 99, 99, 0.7);
}
.schedule-share-top {
    font-size: 20px;
    display: inline-block;
    margin: 15px 0 120px;
}

.schedule [class^=icon] {
    background-repeat: no-repeat;
    height: 60px;
    width: 70px;
    margin: 0 auto 30px;
}
.icon-map-marker {
    background-image: url("images/icons/Vector-Smart-Object.png");
}
.icon-calendar {
    background-image: url("images/icons/Vector-Smart-Object2.png");
    background-position-y: 4px;
}
.icon-shirt {
    background-image: url("images/icons/Vector-Smart-Object3.png");
}
.icon-wallet {
    background-image: url("images/icons/Vector-Smart-Object4.png");
    background-position-y: -7px;
}

.schedule-share [class^=icon] {
    background-image: url("images/icons/social.png");
    background-repeat: no-repeat;
    width: 23px;
    height: 23px;
    margin-bottom: 20px;
    display: block;
}

.icon-whatsapp {
    background-position-y: 0;
}
.icon-facebook {
    background-position-y: -40px;
}
.icon-google {
    background-position-y: -80px;
}
.icon-twitter {
    background-position-y: -120px;
}

.page {
    margin-bottom: 100px;
}
.page-header {
    margin: 150px auto 70px;
    position: relative;
    text-align: center;
    border: none;
}
.page-header:before,
.page-header:after {
    content: '';
    position: absolute;
    top: 20px;
    left: 0;
    width: 40%;
    height: 1px;
    border-bottom: 1px solid #0092e3;
}
.page-header:after {
    right: 0;
    left: auto;
}
.page-header h1 {
    margin: 0;
    color: #0092e3;
}

.filter {
    margin-bottom: 50px;
}
.filter select {
    border-radius: 0;
    box-shadow: none;
}

.video {
    margin-bottom: 50px;
}
.video-preview {
    position: relative;
}
.video-preview img {
    width: 100%;
}
.video-play {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 24px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #000;
    text-align: center;
    margin: -20px 0 0 -20px;
    cursor: pointer;
}
.video-play .fa-play {
    top: 2px;
    position: relative;
    left: 2px;
}
.video-time {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 12px;
}
.video-preview-hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .2);
    color: #fff;
    display: none;
}
.video-comments .fa {
    padding-right: 10px;
}
.video:hover .video-preview-hover {
    display: block;
}
.video-share {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #fff;
    border-radius: 10px;
    padding: 2px 5px;
    font-size: 16px;
}
.video-share a {
    padding: 0 5px;
}
.share-like {
    color: #0092e3;
}
.share-star {
    color: #f7931d;
}
.share-more {
    color: #000;
}
.video-title {
    margin-top: 15px;
    font-weight: bold;
}
.video-comments {
    font-size: 12px;
}
.load-more {
    color: #f7931d;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
}

footer {
    background-color: #0092e3;
    color: #fff;
    padding: 30px;
}
.footer-social a {
    color: #fff;
    margin-left: 20px;
}


@media (min-width: 768px) {
    .navbar-form .form-control {
        width: 300px;
    }
}

@media (max-width: 768px) {
    .navbar-default {
        background-size: 5%;
    }
    .navbar-default .navbar-toggle {
        border: none;
    }
    .navbar-default .navbar-toggle:focus,
    .navbar-default .navbar-toggle:hover {
        background: none;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #fff;
    }
    .search-toggle {
        float: right;
        color: #fff;
        font-size: 20px;
        margin: 9px 20px;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #fff;
    }
    header {
        min-height: auto;
        background-size: contain;
    }
    .schedule {
        position: inherit;
        margin-top: 100px;
        box-shadow: 0px 10px 25px -5px rgba(87, 87, 87, 0.5);
    }
    .schedule-header {
        height: 0;
        padding: 0;
    }
    .schedule-header h2 {
        position: relative;
        top: -40px;
        font-size: 24px;
        color: #fff;
    }
    .schedule-info {
        padding-right: 0;
        box-shadow: none;
    }
    .schedule-info .col-md-3 {
        border-right: none;
        border-bottom: 1px solid #e1e1e1;
        padding: 0 !important;
        margin: 20px 40px;
        text-align: left;
    }
    .schedule-info .col-md-3 p {
        padding-top: 10px;
    }
    .schedule-info .see-more {
        font-weight: bold;
        margin: 0 25px 25px;
    }
    .schedule-footer {
        margin: 0;
        padding: 0 40px;
        box-shadow: 0px 10px 25px -5px rgba(87, 87, 87, 0.2);
    }
    .schedule-footer .btn {
        padding: 16px 0;
        width: 100%;
    }
    .schedule-share {
        position: inherit;
        text-align: left;
        width: 100%;
        box-shadow: none;
    }
    .schedule-share-top {
        margin: 10px;
    }
    .schedule-share a:not(.schedule-share-top) {
        float: right;
    }
    .schedule-share [class^=icon] {
        display: inline-block;
        margin: 15px;
    }
    .schedule-xs-title {
        font-weight: bold;
        font-size: 16px;
        border-bottom: 2px solid #e1e1e1;
        padding-bottom: 5px;
        margin: 20px 20px 10px;
    }
    .hidden-toggle {
        display: none;
    }
    .page-header {
        margin: 50px auto 30px;
    }
    .page-header:before,
    .page-header:after {
        display: none;
    }
    .page-header h1 {
        font-size: 25px;
    }
    .video {
        padding-bottom: 5px;
        margin-bottom: 25px;
        border-bottom: 1px solid #e1e1e1;
    }
    .video-title {
        margin: 10px 0;
    }
    .video-comments {
        margin: 10px 0;
        overflow: hidden;
    }
    .video-comments .fa {
        font-size: 14px;
    }
    .video-preview-hover .video-share {
        display: none;
    }
    .video-share {
        position: inherit;
        font-size: 18px;
        text-align: right;
        margin-top: -5px;
        padding: 0;
    }
    .video-share a:last-child,
    .video-share a:last-child .fa {
        padding-right: 0;
    }
    .video-date {
        color: #0092e3;
        background-color: #ebebeb;
        padding: 5px 10px;
    }
    .page {
        margin-bottom: 50px;
    }
    footer {
        padding: 20px;
    }
}
